body {
    margin: 0;
    padding: 0;
}

#board {
    background-image: url("./img/field.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    height: 100vh; /*(100% of the height of screen, 100% is the height of content--not responsive)*/
    /*it's ok for short term, but long term too many obstacles, some troubles happen*/
    /*set remove() firstly*/
    overflow: hidden; 
    display: flex;
}

/*just set the color*/
/*set position here as JS no need to get info. from here*/
#player {
    
    position: absolute;
    background-image: url("./img/player_2.png");
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.zombie {
    position: absolute;
    background-color: transparent;
    background-image: url("./img/zombie_1.png");
    background-size: 90%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fatZombie {
    position: absolute;
    background-color: transparent;
    background-image: url("./img/zombie_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}


.bullet {
    position: absolute;
    background-color: transparent;
    background-image: url("./img/bullet.png");
    background-size: 40%;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

#page-gameover {
    background-color: green;   
    }

    h1 {
        text-align: center;
        font-size: 10vw;
    }

    a {
       position: relative;
       left: 40vw;
       color: red; 
       text-align: center;
       font-size: 4vw;
    }

.scoreBoard{
        display: flex;
        position: absolute;
        width: 15vw;
        height: 30vh;
        background-image: url("./img/score_board.png");
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.8;
        top: 8vh;
        left: 3vw;
    }

    span {
        font-family: "Londrina Outline";
        font-weight: bolder;
        color: white;
        text-align: center;
        font-size: 11vh;
        margin: 2vh auto;
       
    }