body {
    margin: 0;
    padding: 0;
    background-image: url("./img/start_page.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    font-family: "Zen Dots";
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    padding: 3vh;
    font-size: 7vw;
    font-style: oblique;
    text-align: center;
    background-color: rgb(142, 8, 8);    
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 144, 13); 
    width: 45vw;
    margin-left: 3vw;
    padding: 2vh;
    border-radius: 5vh;
}

h2 {
    font-family: "Alexandria";
    color: white;
    font-size: 2vw;
    text-align: left;
    margin: 0 auto;
    width: 40vw;
}

.instruction_container {
    position: absolute;
    display: flex;
    right: 3vw;
    background-color: white;
    bottom: 28vh;
    width: 40vw;
    height: 40vh;
}

h3{
    font-family: "Lato";
    margin: 0 auto;
    font-size: 4vh;
}

a {
    display: flex;
    text-align: center;
    margin: 5vh auto;
    text-decoration: none;
    color: red;
    background-color: black;
    padding: 2vw;
    font-size: 3vw;
    border-radius: 2vw;
}

a:hover {
    color: black;
    background-color: red;
}